body p {
    font-family: sans-serif;
    font-size: 17px;
    color: #848688;
}

a {
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

label {
    font-family: sans-serif;
    color: #848688;
}

.column {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50px;
    width: 55px;
    height: 60rem;
    background-color: #1c2025;
}

.column-3 li {
    font-family: sans-serif;
    color: #848688;
}

/* .column-3 h1,h2,h3,h4,h5,p,span {
    padding-left: 15px;
} */

.column-2 {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 55px;
    top: 50px;
    width: 220px;
    height: 40rem;
    background-color: #21252b;
}

.column-2:hover {
    overflow-y: scroll;
}

.column-2::-webkit-scrollbar {
    width: 6px;
    /* Grosor del scrollbar */
}

.column-2::-webkit-scrollbar-track {
    background-color: #2c2f33;
    /* Color de fondo del track */
}

.column-2::-webkit-scrollbar-thumb {
    background-color: #7289da;
    /* Color del thumb */
    border-radius: 5px;
    /* Radio de borde del thumb */
}

.column-2-2 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 55px;
    top: 50px;
    width: 220px;
    height: 60rem;
    background-color: #21252b;
}

.column-3 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 17rem;
    top: 50px;
    width: 120rem;
    height: 90rem;
    background-color: #282c34;
}

.column-vertical {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 200rem;
    height: 4rem;
    background-color: #1c2025;
}

.column-vertical a {
    text-decoration: none;
}

#icons {
    position: absolute;
    color: #848688;
    font-size: 23px;
    padding: 2px;
}

.circle {
    position: absolute;
    top: 19rem;
    left: 5px;
    border-radius: 40px;
    padding: 10px;
    background-color: #282c34;
    width: 20px;
    height: 20px;
}

.circle-conf {
    position: absolute;
    top: 16rem;
    left: 5px;
    border-radius: 40px;
    padding: 10px;
    background-color: #282c34;
    width: 20px;
    height: 20px;
}

.circle-2 {
    position: absolute;
    top: 8.5rem;
    left: 5px;
    border-radius: 40px;
    padding: 10px;
    background-color: #282c34;
    width: 20px;
    height: 20px;
}

.circle-3 {
    position: absolute;
    top: 11.5rem;
    left: 5px;
    border-radius: 40px;
    padding: 10px;
    background-color: #282c34;
    width: 20px;
    height: 20px;
}

#images {
    position: absolute;
    width: 30px;
}

.column-vertical input {
    padding: 5px;
    position: absolute;
    background-color: #21252b;
    border: solid #21252b;
    left: 4rem;
    top: 10px;
    color: #848688;
}

.column-2 h4 {
    font-size: 15px;
    position: absolute;
    font-family: sans-serif;
    color: #848688;
}

.column-2-2 h4 {
    font-size: 15px;
    position: absolute;
    left: 20px;
    font-family: sans-serif;
    color: #848688;
}

.channels {
    margin: 0;
    padding-top: 40px;
    padding-left: 10px;
}

.channels h4 {
    position: inherit;
    font-size: 15px;
    font-family: sans-serif;
    color: #848688;
}

.column-2 h3 {
    font-size: 17px;
    position: absolute;
    left: 10px;
    font-family: sans-serif;
    color: #848688;
}

.column-2-2 h3 {
    font-size: 17px;
    position: absolute;
    left: 10px;
    font-family: sans-serif;
    color: #848688;
}

.line {
    position: absolute;
    width: 15rem;
    top: 2.5rem;
    left: 0px;
    padding: 1px;
    background-color: #2e3237;
}

.line-2 {
    position: absolute;
    width: 15rem;
    top: 3rem;
    left: 0px;
    padding: 1px;
    background-color: #2e3237;
}

.pixeles {
    font-size: 13px;
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    background-color: #21252b;
    border: solid #21252b;
    left: 31.5rem;
    top: 12px;
    color: #848688;
}

.some-div {
    font-size: 13px;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    background-color: #21252b;
    border: solid #21252b;
    left: 17rem;
    top: 12px;
    color: #848688;
}

.version {
    font-size: 13px;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    background-color: #21252b;
    border: solid #21252b;
    left: 27.5rem;
    top: 12px;
    color: #848688;
}

.location {
    font-size: 13px;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    background-color: #21252b;
    border: solid #21252b;
    top: 12px;
    color: #848688;
}

.column-3 h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    color: #848688;
}

.btn-debug {
    border: solid #218ddc;
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    background-color: #218ddc;
}

.btn-debug:hover {
    cursor: pointer;
    border: solid #1e6aa1;
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    background-color: #1e6aa1;
}

#btn-input {
    border: solid #218ddc;
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    background-color: #218ddc;
}

#btn-input:hover {
    cursor: pointer;
    border: solid #1e6aa1;
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    background-color: #1e6aa1;
}

.btn-logout {
    border: solid red;
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    background-color: red;
}

.btn-logout:hover {
    cursor: pointer;
    border: solid rgb(190, 7, 7);
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    background-color: rgb(190, 7, 7);
}

.card {
    border-radius: 5px;
    background-color: #21252b;
    position: absolute;
    width: 17rem;
    height: 18rem;
    left: 20px;
    top: 20px;
    padding: 1px;
    font-family: monospace;
    color: #848688;
}

.square {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7rem;
    padding: 1px;
    left: 10px;
    background-color: #21252b;
    border-radius: 8px;
}

#banner {
    width: 17rem;
}

#imgbread {
    width: 30px;
    position: absolute;
    left: 5px;
}

#card-text-id {
    position: absolute;
    left: 27px;
    top: 8.5rem;
}

#card-p-id {
    position: absolute;
    left: 10px;
    top: 10.5rem;
    font-size: 15px;
}

#verified-img-card {
    width: 20px;
    left: 5px;
    top: 9.7rem;
    position: absolute;
}

#span-members {
    position: absolute;
    left: 10px;
    top: 15.8rem;
    font-size: 15px;
    font-family: sans-serif;
}

#gray-dot-img {
    width: 10px;
}

a {
    text-decoration: none;
}

#message {
    font-size: 17px;
    position: absolute;
    top: 130px;
    right: -38rem;
    width: 40rem;
    height: 3rem;
    background-color: #353943;
    border-radius: 5px;
    border: solid #353943 1px;
    color: gray;
}

#message::placeholder {
    font-size: 15px;
    padding-left: 10px;
}

.controls {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20rem;
    top: 30rem;
    background-color: #282c34;
}

.display-msg {
    overflow-y: auto;
    scroll-behavior: auto;
    scroll-behavior: smooth;
    border-radius: 5px;
    /*border: 1px solid #191b20;*/
    border-color: white;
    background-color: #282c34;
    position: absolute;
    width: 56rem;
    height: 33rem;
    left: 0;
    top: 20px;
    padding: 1px;
    font-family: sans-serif;
    color: #848688;
}

.display-msg::-webkit-scrollbar {
    width: 6px;
    /* Grosor del scrollbar */
}

.display-msg::-webkit-scrollbar-track {
    background-color: #2c2f33;
    /* Color de fondo del track */
}

.display-msg::-webkit-scrollbar-thumb {
    background-color: #7289da;
    /* Color del thumb */
    border-radius: 5px;
    /* Radio de borde del thumb */
}

.display-msg p {
    padding-left: 30px;
}

.column-4 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 73rem;
    top: 50px;
    width: 20rem;
    height: 45rem;
    background-color: #21252b;
}

#github {
    margin: 0;
    width: 22px;
}

.abajo {
    position: absolute;
    top: 23rem;
    left: 20px;
}

.btn-db {
    border: solid #218ddc;
    border-radius: 5px;
    padding: 1px;
    background-color: #218ddc;
    top: 40rem;
    left: 20px
}

.btn-db:hover {
    border: solid #1e6aa1;
    border-radius: 5px;
    padding: 1px;
    background-color: #1e6aa1;
    top: 40rem;
    left: 20px
}

.fill-line {
    background-color: #21252b;
    padding: 10px;
    position: absolute;
    left: 55px;
    top: 43rem;
    width: 13rem;
    height: 14rem;
}

.display-msg a:hover {
    text-decoration: underline;
}

.popup {
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 20px;
    display: none;
    border-radius: 5px;
    background-color: #21252b;
    position: absolute;
    width: 17rem;
    height: 18rem;
    left: 20rem;
    top: 27rem;
    padding: 1px;
    font-family: monospace;
    color: #848688;
    
}

.popup2 {
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 20px;
    display: none;
    border-radius: 5px;
    background-color: #282d35;
    position: absolute;
    width: 17rem;
    height: 18rem;
    left: 0;
    top: 27rem;
    padding: 1px;
    font-family: monospace;
    color: #848688;
    
}

.popup input {
    background-color: #24282e;
    border: 1px solid #24282e;
    color: white;
    position: absolute;
    left: 15px;
    top: 8rem;
    width: 15rem;
    height: 20px;
    border-radius: 5px;
}

.popup2 input {
    background-color: #24282e;
    border: 1px solid #24282e;
    color: white;
    position: absolute;
    left: 15px;
    width: 15rem;
    height: 20px;
}

.popup h3 {
    margin: 10px;
    position: absolute;
    left: 20px;
}

.popup2 h3 {
    margin: 10px;
    position: absolute;
    left: 10px;
}

.popup2 h3:hover {
    margin: 10px;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.popup h3:hover {
    margin: 10px;
    position: absolute;
    left: 20px;;
    cursor: pointer;
}

.popup p {
    padding-left: 15px;
    padding-top: 30px;
    font-size: 15px;
    color: #57595e;
}

.popup label {
    position: absolute;
    left: 10px;
}

.popup span {
    cursor: pointer;
    float: right;
}

.popup i {
    border-radius: 10px;
}

.popup2 p {
    padding-left: 15px;
    padding-top: 30px;
}

.popup2 span {
    cursor: pointer;
    float: right;
}

.popup2 i {
    border-radius: 10px;
}

.abajo-popup {
    position: absolute;
    background-color: #1c2025;
    padding: 20px;
    bottom: 0;
    width: 232px;
}

.close {
    position: absolute;
    left: 16.3rem;
    margin: 0;
    top: 0;
}

.noperms {
    background-color: #353943;
    position: absolute;
    width: 45rem;
    height: 40px;
    left: 20px;
    top: 36rem;
    border-radius: 5px;
}

.noperms p {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

.column-4 span {
    padding-left: 15px;
    font-size: 15px;
    color: #848688;
    font-family: sans-serif;
}

#bot {
    width: 25px;
    position: absolute;
    top: 34px;
    left: 97px;
}

#dia {
    width: 25px;
    position: absolute;
    top: 34px;
    left: 20px;
    border-radius: 10px;
}

#dia-p {
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 13px;
}

#online-wifi {
    width: 15px;
    position: absolute;
    top: 50px;
    left: 33px;
    border-radius: 10px;
    background-color: #21252b;
}

.popup button {
    position: absolute;
    top: 5px;
    left: 11.5rem;
    background-color: #5865f2;
    border: 1px solid #5865f2;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup button:hover {
    position: absolute;
    top: 5px;
    left: 11.5rem;
    background-color: #4c57cc;
    border: 1px solid #4c57cc;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup2 button {
    position: absolute;
    top: 10rem;
    left: 140px;
    background-color: #5865f2;
    border-radius: 5px;
    border: 1px solid #5865f2;
}

.popup2 button:hover {
    position: absolute;
    top: 10rem;
    left: 140px;
    background-color: #414cc5;
    border-radius: 5px;
    border: 1px solid #414cc5;
}

.popup a {
    left: 10px;
    font-size: 15px;
    position: absolute;
    top: 8.5rem;
}

.popup a:hover {
    left: 10px;
    font-size: 15px;
    position: absolute;
    top: 8.5rem;
    color: #5f6061;
    cursor: pointer;
}

.popup2 a {
    left: 10px;
    font-size: 15px;
    position: absolute;
    top: 10rem;
}

.popup2 a:hover {
    left: 10px;
    font-size: 15px;
    position: absolute;
    top: 10rem;
    color: #5f6061;
    cursor: pointer;
}

#noimg {
    margin: 0;
    width: 40px;
    position: absolute;
    left: 10px;
}

.input-settings {
    position: absolute;
    background-color: #21252b;
    border: solid #21252b;
    left: 1rem;
    top: 11.5rem;
    color: #848688;
}

.btn-changes {
    color: white;
    border: solid #248046;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    background-color: #248046;
    left: 13rem;
    top: 11.5rem;
}

.btn-changes:hover {
    color: white;
    cursor: pointer;
    border: solid #1a6334;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    background-color: #1a6334;
}

.btn-danger {
    color: white;
    border: solid #da373c;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    background-color: #da373c;
    left: 1rem;
    top: 16rem;
}

.btn-danger:hover {
    color: white;
    cursor: pointer;
    border: solid #b92d32;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    background-color: #b92d32;
}

